nav{
	font-size: 28px;
}
img{
	width: 600px;
}
body{
	background-color:cyan;
}
a:hover{
	color: red;
	font-weight: bolder;
}
/*
	these are margins
*/
#container{
	background-color:cyan;
	margin:30px;
	padding:25px;
	border-radius:30px;
	text-align:center;
}
/*
this is the tic tac toe 
*/
#tictactoeboard{
	width:300px;
	height:300px;
	border-style:double;
	border-width:5px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
}
.box{
	float: left;
	height: 98px;
	width: 98px;
	border-style:double;
	border-width: 1px;
	border-color:purple;
	vertical-align: middle;
}